<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="My sample suite">

	<test name="Google Test">

		<classes>
			<class name="com.acc.testng.GoogleTest"></class>
		</classes>
	</test>

	<test name="Yahoo Test">

		<classes>
			<class name="com.acc.testng.YahooTest"></class>
		</classes>
	</test>
	
	<test name="Data Provider Example">

		<classes>
			<class name="com.acc.testng.DataProviderEg"></class>
		</classes>
	</test>

</suite>